<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./biography.css">
  <title>Biography</title>
</head>

<body>
  <canvas id='canv'></canvas>
  <div id='info'>
    MouseDown / Tap or Press SpaceBar<br> to Invert Background Color
  </div>
  <div class="content">
    <h1>ARAD SARKIS</h1>
    <div class="wrapper">
      <div class="text__wrapper">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Natus non porro cum tempore quod. Dolorum fugiat rerum autem aperiam pariatur similique enim nostrum dolor
          voluptates quis cum dicta, commodi doloremque quam fugit ex et
          non repudiandae iusto sapiente eum perspiciatis.
        </div>
      </div>
      <div class="img__wrapper">

      </div>
    </div>
  </div>
  <script src="./biography-bg.js"></script>
</body>

</html>